{% extends 'base.html.twig' %}
{% block body %}
<div id="home" class="project1">
    <div class="thenav">
        {% include "common/nav.html.twig" %}
    </div>
    <div class="content">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for key,one in sliders %}
                    <div class="carousel-item {% if key==0 %}active{% endif %}">
                        <img src="{{ one.link }}" class="d-block w-100" alt="...">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="jumbotron">
            <h1 class="display-4 text-center">Bienvenue chez Vertek!</h1>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% for one in allproducts %}
                    <div class="col-md-4 col-lg-3 text-center mb-4">
                        <div class="card" style="width: 90%;">
                            <div class="cardimg">
                                <img src="{{ asset('photos/' ~ one.photo) }}" class="card-img-top" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{one.name}}</h5>
                                <div>{{one.price}} euros</div>
                                <a href="{{ path('oneproductpage',{'id':one.id}) }}" class="btn btn-primary">Voir</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </dvi>
        </div>
    </div>
</div>
{% endblock %}
