{% extends 'base.html.twig' %}
{% block body %}
<div id="onearticle" class="project1">
    <div class="thenav">
        {% include "common/nav.html.twig" %}
    </div>
    <div class="content">
        <div class="container pt-3">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center mb-5">{{article.title}}</h2>
                    <img src="{{ asset('photos/' ~ article.photo) }}" alt="">
                    <div>
                        {{ article.content|raw }}
                    </div>
                    <div class="mt-2 text-right">
                        <small>{{ article.created|date('d/m/Y') }}</small>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-5  justify-content-center">
                <div class="col-md-8">
                    <h5>Laissez un commentaire</h5>
                    {{ form_start(form,{"attr":{"data-article":article.id}}) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.message) }}
                    <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-8 mt-3">
                    <div class="switchComments pointer h5">Les commentaires</div>
                    <div class="allcomments">
                        {% for one in comments %}
                        <div class="onecomment mt-3 pl-3">
                            <strong>{{ one.name }}</strong>
                            <small>{{ one.created|date('d/m/Y h:i:s') }}</small>
                            <div class="text-black-50">{{ one.message }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
