{% extends 'base.html.twig' %}
{% block body %}
<div id="oneproduct" class="project1">
    <div class="thenav">
        {% include "common/nav.html.twig" %}
    </div>
    <div class="content">
        <div class="container pt-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('photos/' ~ product.photo) }}" class="card-img-top" alt="...">
                </div>
                <div class="col-md-4">
                    <h2 class="mb-4">{{ product.name }}</h2>
                    <div class="text-danger h4">
                        {{ product.price }} €
                    </div>
                    <div class="h5">
                        {{ product.descritpion|raw }}
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning mt-3 btnproduct" data-product="{{ product.id }}">Ajouter au panier</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Panier</h3>
                    <div>
                        Produits : {{ app.session.get('basket')|length }}
                    </div>
                    <div>
                        Quantité : 
                        {% set n2 = 0 %}
                        {% for one in app.session.get('basket') %}
                            {% set n2 = n2 + one %}
                        {% endfor %}
                        {{ n2 }}
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-success">Passer commande</button>
                    </div>
                </div>
            </div>

            <div class="row mt-5 pt-5">
                <div class="col-12">
                    <h5>Laissez un commentaire</h5>
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.message) }}
                    <button type="submit" class="btn btn-primary btn-sm">Envoyer</button>
                    {{ form_end(form) }}
                </div>
                <div class="col-12 mt-3">
                    <div class="switchComments pointer h5">Les commentaires</div>
                    <div class="allcomments">
                        {% for one in comments %}
                        <div class="onecomment mt-3 pl-3">
                            <strong>{{ one.name }}</strong>
                            <small>{{ one.created|date('d/m/Y h:i:s') }}</small>
                            <div class="text-black-50">{{ one.message }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row border-top" style="margin-top:100px;">
                <div class="col-12 mb-2 h4">
                    Les autres produits
                </div>
                {% for one in others %}
                {% if one.id != product.id %}
                <div class="col-6 col-md-4 col-lg-3">
                    <div class="card" style="width: 90%;">
                        <div class="cardimg">
                            <img src="{{ asset('photos/' ~ one.photo) }}" class="card-img-top" alt="...">
                        </div>
                            <div class="card-body">
                                <h5 class="card-title">{{one.name}}</h5>
                                <div>{{one.price}} euros</div>
                                <a href="{{ path('oneproductpage',{'id':one.id}) }}" class="btn btn-primary">Voir</a>
                            </div>
                        </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
