<div id="adminnav">
    <div class="text-white pl-1 btnsvg mb-5">
        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-list pointer" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('homepage') }}">Accueil</a>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('adminallcategories') }}" class="{% if app.session.get('adminnav')=='category' %}active{% endif %}">Catégories</a>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('adminallproducts') }}" class="{% if app.session.get('adminnav')=='product' %}active{% endif %}">Produits</a>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('adminallarticles') }}" class="{% if app.session.get('adminnav')=='article' %}active{% endif %}">Articles</a>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('adminslider') }}" class="{% if app.session.get('adminnav')=='slider' %}active{% endif %}">Carousel</a>
    </div>
    <div class="mb-2 onetitle">
        <a href="{{ path('admincompany') }}" class="{% if app.session.get('adminnav')=='company' %}active{% endif %}">Entreprise</a>
    </div>
</div>