<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Vertek</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if app.session.get("nav")==null or app.session.get("nav")=='home' %}active{% endif %}">
        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
      </li>
      <li class="nav-item {% if app.session.get("nav")=='categories' %}active{% endif %}">
        <a class="nav-link" href="{{ path('categoriespage') }}">Catégories</a>
      </li>
      <li class="nav-item {% if app.session.get("nav")=='propos' %}active{% endif %}">
        <a class="nav-link" href="{{ path('aboutuspage') }}">A propos</a>
      </li>
      <li class="nav-item {% if app.session.get("nav")=='blog' %}active{% endif %}">
        <a class="nav-link" href="{{ path('blogpage') }}">Blog</a>
      </li>
      <li class="nav-item {% if app.session.get("nav")=='contact' %}active{% endif %}">
        <a class="nav-link" href="{{ path('contactpage') }}">Contact</a>
      </li>
      {% if app.session.get("user") is not null %}
        <li class="nav-item {% if app.session.get("nav")=='logout' %}active{% endif %}">
          <a class="nav-link" href="{{ path('logoutpage') }}">Logout</a>
        </li>
        {% if app.session.get("user").role == "admin" %}
          <li class="nav-item">
            <a class="nav-link" href="/admin/slider/toutes_les_photos">Admin</a>
          </li>
        {% endif %}
      {% else %}
        <li class="nav-item {% if app.session.get("nav")=='login' %}active{% endif %}">
          <a class="nav-link" href="{{ path('loginpage') }}">Login</a>
        </li>
        <li class="nav-item {% if app.session.get("nav")=='logup' %}active{% endif %}">
          <a class="nav-link" href="{{ path('loguppage') }}">Logup</a>
        </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-2" action="{{ path('searchproduct') }}" method="post">
      <input class="form-control mr-sm-2" name="productname" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div style="position:relative">
      <div class="text-white"> 
        <svg width="1.7em" height="1.7em" viewBox="0 0 16 16" class="bi bi-cart-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
      </div>
      <div class="text-danger font-weight-bold h4" style="position:absolute;margin-top:-35px;margin-left:15px;">
        {% set n = app.session.get('basket')|length %}
        {% if n != 0 %}
        {{ n }}
        {% endif %}
      </div>
    </div>
  </div>
</nav>